{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block content %}

<table align="center" cellpadding="10" style="border-collapse:collapse;" border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Cover Image</th>
        <th>Posititve Votes</th>
        <th>Negative Votes</th>
        <th>Score</th>
        <th>Date And Time</th>
        <th>Action</th>
    </tr>

    {% for post in allPosts %}
        <tr>
            <th>{{ post.p_title }}</th>
            <th>{{ post.p_content }}</th>
            <th><img src="{{post.p_coverimage.url }}" width="120" height="120"></th>
            <th>{{ post.pos_votes }}</th>
            <th>{{ post.neg_votes }}</th>
            <th>{{ post.p_score }}</th>
            <th>{{ post.p_dateTime|date:'Y-m-d h:i'  }}</th>
            <th><a href="{% url 'Posts:post-images' post.id  %}">Add More Images</a></th>
        </tr>
    {% endfor %}
</table>

{% endblock %}