
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" cellpadding="10" style="border-collapse:collapse;" border="1">
        
            <tr>
                <td>Caption</td>
                <td><input type="text" name="txtCaption"></td>
            </tr>

            <tr>
                <td>Image</td>
                <td><input type="file" name="postImage"></td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Upload Image">
                </td>
            </tr>
        
        </table>

    </form>
    <hr>
    <table align="center" cellpadding="10" style="border-collapse:collapse;" border="1">
        <tr>
            <th>Caption</th>
            <th>Image</th>
        </tr>
        {% for post in allPostImages %}
        <tr>
            <td>{{ post.img_title }}</td>
            <td><img src="{{ post.post_image.url }}" width="120" height="120"></td>
            <td>{{ post.p_dateTime }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>