{% extends 'base.html' %} 
{% block title %}Sign up | Name{% endblock %}
 {% block content %}

<style>
  body{
    background: #212121;
  }
  nav{
    display: none;
  }

</style>
<a class="home-butt" href="{% url 'Posts:index' %}"><i class="fa fa-home" aria-hidden="true"></i>
  <span>Home</span>
        </a>

{% if success %}
<script>
  alert("True")
</script>
{% endif %}


<div class="pre-lod">
  <img src="https://steamuserimages-a.akamaihd.net/ugc/928177176930777774/8D315B114D79BC94786DE0F545E40B841D977138/" alt="Please wait">
</div>
 <ul class="timeline">
    <li style="min-width: 30px;">
      <span class="timeline-start-marker"></span>
      <!-- timeline start -->
    </li>
    <li>
      <span class="timeline-mark"><span class="num-sppan">1</span></span>
      <div class="timeline-d">
       
      <h5>Name</h5>
      </div>
    </li>
    <li>
      <span class="timeline-marker"></span>
      <div class="timeline-data">
       
      <h5>Contact info</h5>
      </div>
    </li>
    <li>
      <span class="timeline-marker"></span>
      <div class="timeline-data">
       
      <h5>Location</h5>
      </div>
    </li>
    <li>
      <span class="timeline-marker"></span>
      <div class="timeline-data">
        <h5>Profile details</h5>
      </div>
    </li>
    <li>
      
      <span class="timeline-marker"></span>
      <div class="timeline-data">
       
      <h5>Profile picture</h5>
      </div>
    </li>
    
    <li  style="min-width: 30px;">
      <span class="timeline-end-marker"></span>
      <div class="timeline-data">
       <!-- timeline end -->
      </div>
    </li>
  </ul>
<div class="us-cret-box">
<form class="subformclass" action="{% url 'User:ver-name' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
      <div class="cret-inp-form-holder">
    <p>Enter your name:</p>
    <input type="text" name="username" placeholder="your name" required id="">
  </div>

  <div class="cret-inp-form-holder">
    <p>Upload a proof with name:</p>
    <input type="file" name="nameproof" style="border-style: dashed;" required id="">
  </div>
  <button class="cre-button" type="submit">VERIFY</button>
  {% if fail %}
  <div class="aler-text">Name not found in the proof</div>
{% endif %}

</div>
    </form>
    <script>
      $(document).ready(function(){
        $(".subformclass").submit(function(){
$(".pre-lod").show()
        });
      });
    </script>


 {% endblock content %}