{% extends 'base.html' %} 
{% block title %}Sign up | Location info{% endblock %}
 {% block content %}

<style>
  body{
    background: #212121;
  }
  nav{
      display:none;
  }


</style>



  <a class="home-butt" href="{% url 'Posts:index' %}"><i class="fa fa-home" aria-hidden="true"></i>
      <span>Home</span>
            </a>





<div class="pre-lod">
  <img src="https://steamuserimages-a.akamaihd.net/ugc/928177176930777774/8D315B114D79BC94786DE0F545E40B841D977138/" alt="Please wait">
</div>
 <ul class="timeline">
    <li style="min-width: 30px;">
      <span class="timeline-start-marker"></span>
      <!-- timeline start -->
    </li>
    <li>
      <span class="timeline-marker compl"></span>
      <div class="timeline-data">
       
      <h5>Name & Personal Info</h5>
      </div>
    </li>
    <li>
      <span class="timeline-mark"><span class="num-sppan">2</span></span>
      <div class="timeline-d">
       
      <h5>Location</h5>
      </div>
    </li>
    <li>
      <span class="timeline-marker"></span>
      <div class="timeline-data">
       
      <h5>Profile details</h5>
      </div>
    </li>
    <li>
      <span class="timeline-marker"></span>
      <div class="timeline-data">
        <h5>Profile picture</h5>
      </div>
    </li>
    <li  style="min-width: 30px;">
      <span class="timeline-end-marker"></span>
      <div class="timeline-data">
       <!-- timeline end -->
      </div>
    </li>
  </ul>
<div class="us-cret-box">
<form class="subformclass" action="{% url 'User:ver-pladd' %}" method="post">
    {% csrf_token %}
    {% if name %}
<input type="hidden" value="{{name}}" name="username">
{% endif %}
    {% if age %}
<input type="hidden" value="{{age}}" name="userage">
{% endif %}
    {% if email %}
<input type="hidden" value="{{email}}" name="useremail">
{% endif %}
    {% if phone %}
<input type="hidden" value="{{phone}}" name="userphone">
{% endif %}


      <div class="cret-inp-form-holder">
    <p>Your detected Country:</p>
    <input type="text" name="usercountry" id="country" value="" readonly required>
  </div>
      <div class="cret-inp-form-holder">
    <p>Your detected State:</p>
    <input type="text" name="userstate_display" id="state_display" value="" readonly required>
  </div>
      <div class="cret-inp-form-holder">
    <p>Nearby Cities:</p>
    <select name="selected_nearby_city" id="nearby_cities" required>
        <option value="">Select a nearby city</option>
    </select>
  </div>
      <input type="hidden" name="long" id="long_input">
      <input type="hidden" name="lati" id="lati_input">
      <input type="hidden" name="userstate" id="state_hidden">
      
  <button class="common-button" type="submit">NEXT</button>
  

</div>
    </form>
    <script>
      $(document).ready(function(){
        $(".pre-lod").show();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        } else {
            alert("Geolocation is not supported by this browser.");
            $(".pre-lod").hide();
        }
      });

      function successCallback(position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          $('#long_input').val(longitude);
          $('#lati_input').val(latitude);

          // AJAX call to Django view
          $.ajax({
              url: "{% url 'User:get_geolocation_data' %}",
              type: "POST",
              data: {
                  latitude: latitude,
                  longitude: longitude,
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(response) {
                  if (response.success) {
                      $('#country').val(response.country);
                      $('#state_display').val(response.state); // Populate the new state display field
                      $('#state_hidden').val(response.city); // Populate the hidden state field with detected city
                      
                      const nearbyCitiesDropdown = $('#nearby_cities');
                      nearbyCitiesDropdown.empty(); // Clear previous options
                      nearbyCitiesDropdown.append(new Option("Select a nearby city", "")); // Default option
                      if (response.nearby_cities && response.nearby_cities.length > 0) {
                          response.nearby_cities.forEach(city => {
                              nearbyCitiesDropdown.append(new Option(city, city));
                          });
                      }

                  } else {
                      alert(response.error);
                  }
                  $(".pre-lod").hide();
              },
              error: function(xhr, status, error) {
                  console.error("Error fetching geolocation from server:", error);
                  alert("Could not determine your location. Please try again later.");
                  $(".pre-lod").hide();
              }
          });
      }

      function errorCallback(error) {
          console.error("Error getting geolocation:", error);
          alert("Unable to retrieve your location. Please ensure location services are enabled.");
          $(".pre-lod").hide();
      }

      $(".subformclass").submit(function(){
          $(".pre-lod").show();
      });
    </script>
 {% endblock content %}