{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tags</title>



   
  </head>
  <body>
    {% block content %}
    <div class="all-tag-holder">
      {% for tag in tags%}
      <div class="tag">
        <p class="tag-name">{{tag.tag_name}}</p>
        <p class="tag-title">{{tag.tag_title}}</p>
        <p class="tag-desc"><span>Description:</span>{{tag.tag_disc}}</p>
        <img
          class="tag-image"
          src="{{tag.tag_image.url}}"
          alt="tagimage"
          srcset=""
        />
        <div class="place-holder">
          <div class="places"><span>Country:</span>{{tag.t_country}}</div>
          <div class="places"><span>State:</span>{{tag.t_state}}</div>
          <div class="places"><span>Place:</span>{{tag.t_place}}</div>
        </div>
      </div>
      {%endfor%}
    </div>
  </body>
  {% endblock content %}
</html>
