{% extends 'base.html' %}
{% block title %}Tags{% endblock %}

    {% block content %}
    <style>
      .navbar-nav #tags{
        color: white !important;
       
    
      }
    </style>
    <a class="tag-request" href="/user/tag-req">
      Tag <br> request
    </a>
    <div class="all-tag-holder">
    {% comment %} country {% endcomment %}
      
      <div class="dtag-holder">
        <p class="dtag-title">Tags related to your country <span>{{user.u_country}}:</span></p>
        {% if ctags %}
        {% for ctag in ctags%}
        
        <a href="{% url 'Posts:post-vote' ctag.id %}">
          <div class="tag">
            <p class="tag-name">{{ctag.tag_name}}</p>
            <p class="tag-title">{{ctag.tag_title}}</p>
            <p class="tag-desc"><span>Description:</span>{{ctag.tag_disc}}</p>
            <img
              class="tag-image"
              src="{{ctag.tag_image.url}}"
              alt="tagimage"
              srcset=""
            />
            <div class="place-holder">
            <div class="places"><span>Country:</span>{{ctag.t_country}}</div>
              
  
            </div>
            
          </div>
          <a href="{% url 'Posts:post-entry' ctag.id %}" class="add-tag-butt">
            <i class="fa fa-pencil" aria-hidden="true"></i><span> ADD POST</span>
          </a>
          <hr>
          </a>
          {%endfor%}
          {% else %}
      <h3 class="tag-error">No tags</h3>
      {% endif %}
        
        
      </div>
      
      
      


    {% comment %} state {% endcomment %}

    <div class="dtag-holder">
      <p class="dtag-title">Tags related to your state <span>{{user.u_state}}:</span></p>
      {% if stags %}

      {% for stag in stags%}
      

      <a href="{% url 'Posts:post-vote' stag.id %}">
      <div class="tag">
        <p class="tag-name">{{stag.tag_name}}</p>
        <p class="tag-title">{{stag.tag_title}}</p>
        <p class="tag-desc"><span>Description:</span>{{stag.tag_disc}}</p>
        <img
          class="tag-image"
          src="{{stag.tag_image.url}}"
          alt="tagimage"
          srcset=""
        />
        <div class="place-holder">
          {% comment %} <div class="places"><span>Country:</span>{{stag.t_country}}</div> {% endcomment %}
          <div class="places"><span>State:</span>{{stag.t_state}}</div>
          {% comment %} <div class="places"><span>Place:</span>{{stag.t_place}}</div> {% endcomment %}
        </div>
      </div>
      <a href="{% url 'Posts:post-entry' stag.id %}" class="add-tag-butt">
        <i class="fa fa-plus" aria-hidden="true"></i><span> ADD POST</span>
      </a>
      <hr>
      </a>
      {%endfor%}

      {% else %}
      <h3 class="tag-error">No tags</h3>
      {% endif %}
</div>



    {% comment %} place {% endcomment %}
    <div class="dtag-holder">
      <p class="dtag-title">Tags related to your place <span>{{user.u_place}}:</span></p>
      {% if ptags  %}
       {% for stag in ptags%}
      <a href="{% url 'Posts:post-vote' stag.id %}">
      <div class="tag">
        <p class="tag-name">{{stag.tag_name}}</p>
        <p class="tag-title">{{stag.tag_title}}</p>
        <p class="tag-desc"><span>Description:</span>{{stag.tag_disc}}</p>
        <img
          class="tag-image"
          src="{{stag.tag_image.url}}"
          alt="tagimage"
          srcset=""
        />
        <div class="place-holder">
 
          
          <div class="places"><span>Place:</span>{{stag.t_place}}</div>
        </div>
      </div>
      <a href="{% url 'Posts:post-entry' stag.id %}" class="add-tag-butt">
        <i class="fa fa-plus" aria-hidden="true"></i><span> ADD POST</span>
      </a>
      <hr>
      </a>
      {%endfor%}
      
      {% else %}
      <h3 class="tag-error">No tags</h3>
      {% endif %}
     
</div>

    </div>
    </div>

  {% endblock content %}
